openai
langchain
langchain-openai
langchain-community
pypdf
pdfplumber
pandas
streamlit
pydantic
scikit-learn
python-dotenv
chromadb
faiss-cpu
PyYAML
tqdm
fastapi
uvicorn
pymupdf
numpy
plotly
sentence-transformers